@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkseagreen;
}

.image-container{
    text-align: center;
}

.image-container img{
    transition-duration: 250ms;
    filter: grayscale(100%);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.3);
    /* background-color: lightgray; */
    background-image: linear-gradient( yellow ,pink );
    width: 300px;
    height: 300px;
}


.image-container img:hover{
    filter: grayscale(0%);
}

.btn{
    font-family: Poppins, sans-serif;
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.3);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}